@model IEnumerable<Testing_QLThuVien.Models.DocGia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Layout/NguoiDungLayout.cshtml";
}

<h2 style="text-align:center">Đăng Ký Thành Công</h2>




